* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #23283b;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #131313;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  border-radius: 10px;
  user-select: none;
}

#Display-area {
  width: 100%;
  margin: 3vh 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, minmax(40px, auto));
  word-wrap: break-word;
  padding-bottom: 20px;
  border-bottom: 2px #759284 solid;
}

#Display-area .currentInput {
  text-align: right;
  height: 8vh;
  color: #ffffff;
  font-size: xx-large;
  line-height: 2;
  word-wrap: break-word;
}

#Display-area .answerScreen {
  text-align: right;
  color: rgba(150, 150, 150, 0.87);
  height: 7px;
  line-height: 3;
  font-size: larger;
}

.keypad-btns {
  display: grid;
  grid: repeat(5, 70px) / repeat(4, 70px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.keypad-btns button {
  outline: none;
  border: none;
  border-radius: 122px;
  background-color: #232534;
  color: #ffffff;
  font-size: x-large;
  box-shadow: inset 5px 0px 10px rgba(255,255,255,0.4), 
              -5px 0px 10px rgba(125,125,125,0.3),
              5px 0px 10px rgba(125,125,125,0.3), 
              inset -5px 0px 10px rgba(255,255,255,0.4);
}

.keypad-btns .fun_btn {
  color: #000000;
  background: #f09d4d;
  font-weight: bold;
}

.num_btn:hover {
  background-color: #353535;
  box-shadow: inset 5px 0px 7px #60D69B, 
              -5px 0px 10px #759284,
              5px 0px 10px #759284,
              inset -5px 0px 7px #60D69B;
}  

.fun_btn:hover {
  background-color: #eab676;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #131313;
    align-items: flex-start;
  }
}
